[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Radar
Comment=
Exec=sudo python3 /home/pi/kristallradarlite/testSpeed.py
Terminal=false
Type=Application
